<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
	
	<h1>Where to find me</h1></br>
	<p>
		By Snail Mail:</br>
		123 Fake St.</br>
		San Francisco, CA 12345</br>
		</br>
		By the Tele: </br>
		(123)456-7890</br>
		</br>
		By the Internetz: </br>
		abc@abc.com</br>
		</br>
		By Courier Pigeon:</br>
		whisper kibby</br>
		</br>
		By Morse code:</br>
		click click click double click
	</p>

  </body>
</html>
