<div style='margin-top:5px;'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to 'Home', root_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      <%= link_to 'Recipients', recipients_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      <%= @recipient.full_name %>
    </li>
  </ul>
</div>
<div class='well'>
<legend>Update recipient</legend>

<%= render 'form' %>

</div>
