<div class="container-fluid well" style="margin-top: 20px">
  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-list bs-docs-sidenav">
        <li class="active"><a href="#"><i class="icon-chevron-right"></i>About Us</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
      </ul>
    </div><!--/span-->
    <div class="span9">
      <h1>About Us</h1>
      <p>
        giftminer&trade; is an automatic gifting service that provide users with a seamless 
        and hassle free gift buying experience. We want to focus on the thoughtfulness and surprise element
        of give giving, instead of the tedious leg work.
      </p>
      <p>
        giftminer is a true bootstrapped startup founded by two friends based out of Davis, CA.
      </p>
      <hr />
      <h1>Founding Team</h1>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="/assets/kevin.png">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Kevin Quan (co-founder)</h4>
          Kevin Quan is the co-founder and lead developer at giftminer&trade;. Before founding giftminer, 
          Kevin worked for many years as a business analyst at a Fortune 500 investment firm in downtown San Francisco. 
          While Kevin have always had a special penchant for finance and investing, he aspired to become a startup
          entrepreneur. Kevin hopes that his passion and creativity combined with his business savvy will help him grow giftminer
          into a successful web service.
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="/assets/vinh.png">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Vinh Pham (co-founder)</h4>
          Vinh Pham (aka vinhboy) is programming and web development veteran with over 15 years of experience.
          He is the head of engineering at WorkingPoint.com, an online accounting software for small businesses.
          Vinh is also the co-founder of StairwayGroup LLC, a web development and consulting firm he started with his long time friends.
          Vinh joined giftminer&trade; because he believes it provides a unique service that no other web applications is doing.
        </div>
      </div>
      <hr />
      <h1>Team Members</h1>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="/assets/kaylie.png">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Kaylie (Head of Security)</h4>
          Kaylie is a crucial member of the giftminer team. She is on constant watch at her spot in the office. 
          She will immediately notify the rest of the team if the UPS man is dropping off a package, or if the gardener is outside.
          She is also the official mascot of giftminer. She loves leaving gifts in the yard for Vinh to mine.
        </div>
      </div>
    </div>
  </div><!--/row-->
</div>