<div class="container-fluid well" style="margin-top: 20px">
  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-list bs-docs-sidenav">
        <li class="active"><a href="#"><i class="icon-chevron-right"></i>Contact Us</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
      </ul>
    </div><!--/span-->
    <div class="span9">
      <h1>Contact Us</h1>
      <h4>Sorry, we are not home right now, please leave a message.</h4>
      <p><img src="/assets/contact_us.jpg" /></p>
    </div>
  </div><!--/row-->
</div>