<div class="container-fluid well" style="margin-top: 20px">
  <div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="active"><a href="#"><i class="icon-chevron-right"></i>FAQs</a></li>
          <li><a href="support/subscription"><i class="icon-chevron-right"></i>Subscription</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i>Order History</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        </ul>
    </div><!--/span-->
    <div class="span9">
      <h1>Frequently Asked Questions</h1>
      <dl>
        <dt>What if my wife/girlfriend/mistress finds out I am using this service?</dt>
        <dd>You should probably up the frequency at which you are sending the gifts. Problem solved!</dd>
        <dt>Can I buy myself gifts?</dt>
        <dd>Sure..... We also recommend you check out okcupid.com.....</dd>
      </dl>
    </div>
  </div><!--/row-->
</div>