<div class="container-fluid well" style="margin-top: 20px">
  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-list bs-docs-sidenav">
        <li class="active"><a href="#"><i class="icon-chevron-right"></i>FAQs</a></li>
      </ul>
    </div><!--/span-->
    <div class="span9">
      <h1>Frequently Asked Questions</h1>
      <h4>How much does it cost to use giftminer?</h4>
      <p>giftminer is absolutely free. You do have to pay for their gifts you buy though.</p>
      <h4>Can I return gifts?</h4>
      <p>Yes! Just like any online store. If you are unhappy with your gifts, file a return request to return your gift for a refund.</p>
      <h4>Will giftminer sell my information?</h4>
      <p>No, we value your privacy and we will only use your information to find your the perfect gift.</p>
      <h4>How does giftminer keep my payment information safe?</h4>
      <p>giftminer uses Stripe to handle payment processing. Please refer to their documentations.</p>
    </div>
  </div><!--/row-->
</div>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/OE8Itj57hOVH3WCHm6VgYQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 200360,
  tab_label: 'Feedback & Support',
  tab_color: '#cc6d00',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
</script>