<div class="container-fluid well" style="margin-top: 20px">
  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-list bs-docs-sidenav">
        <li class="active"><a href="#"><i class="icon-chevron-right"></i>FAQs</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
      </ul>
    </div><!--/span-->
    <div class="span9">
      <h1>Frequently Asked Questions</h1>
      <h4>How much does it cost to use giftminer?</h4>
      <p>giftminer is absolutely free. You do have to pay for their gifts you buy though.</p>
      <h4>Can I return gifts?</h4>
      <p>Yes! Just like any online store. If you are unhappy with your gifts, file a return request to return your gift for a refund.</p>
      <h4>Will giftminer sell my information?</h4>
      <p>No, we value your privacy and we will only use your information to find your the perfect gift.</p>
      <h4>How does giftminer keep my payment information safe?</h4>
      <p>giftminer uses Stripe to handle payment processing. Please refer to their documentations.</p>
    </div>
  </div><!--/row-->
</div>