<div style='margin-top:5px;'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to 'Home', root_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      <%= link_to 'Subscriptions', subscriptions_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      Subscribe
    </li>
  </ul>
</div>

<div class='well'>
<legend>Editing subscription</legend>

<%= render 'form' %>

</div