/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */

.fleft {
  float: left;
}

.fright {
  float: right;
}

.show {
  width: 325px;
  float: left;
  margin: 0px 0px 0px 25px;
}

.clear {
  clear: both;
}

.center {
  margin: auto;
  background-color: red;
}

.homelogo {
  float: left;
}

.header {
  color: red;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.footer {
  padding: 10px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
}

.red {
  background-color: red;
  border-style: solid;
}

button.ui-button-icon-only {
  width: 1em;
  margin-left: 0.5em;
}

.myform {
  position: relative;
  left: 670px;
  top: -25px;
}

.steps {
  position: relative;
  width: 120px;
  margin: 5px;
  text-align: center;
  float: left;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#background {
  background: url('soft_bokeh.jpg') no-repeat;
  margin-bottom: 30px;
  padding: 40px;
  width: auto;
}
.forget{
  line-height: 12px !important;
  padding: 0px 0px 0px 6px;
  font-size:12px;
  vertical-align:text-top;
}

.forget A:link {text-decoration: underline; color: white;}
.forget A:visited {text-decoration: underline; color: white;}
.forget A:active {text-decoration: underline; color: blue;}
.forget A:hover {text-decoration: underline; color: blue;}

.home {
  width: 600px;
  float: left;
}

.signupbutton {
  float: right;
  margin-right: 30px;
}

.loginbar {
  float: right;
  margin-bottom: 4px;
}

.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}

.subhead h1 {
  font-size: 54px;
}

.occasiondetails {
  float: left;
  width: 200px;
}

.occasionrec {
  float: left;
  width: 675px;
  margin: 0 0px 0px 25px;
}

.dashboard {
  margin-top: 25px;
}

.margin {
  margin-left: 20px;
}
.button_to {
  margin: 0;
}

#calendar table {
  width: 100%;
}

#calendar td, #calendar th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

.notmonth a:link {
  color: gray;
}/* unvisited link */
.notmonth a:visited {
  color: gray;
}/* visited link */
.notmonth a:hover {
  color: gray;
}/* mouse over link */
.notmonth a:active {
  color: gray;
}/* selected link */

/*#calendar #month {
 margin: 0;
 padding-top: 10px;
 padding-bottom: 10px;
 text-align: center;
 }*/

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

.new_additions {
  float: left;
  margin-right: 10px;
  height: 165px;
  width: 130px;
  text-align: center;
  background-color: white;
}

.new_additions:last-child {
  margin-right: 0px;
}

[class^="icon-"], [class*=" icon-"] {
  background-image: url("/assets/img/glyphicons-halflings.png");
}
/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("/assets/img/glyphicons-halflings-white.png");
}

.female {
  width: 135px;
  height: 294px;
  position: absolute;
  bottom: 3px;
  left: 2px;
}
.female:hover {
  background: url("/assets/male-female-hover.png") -2px -2px no-repeat;
}
.male {
  width: 116px;
  height: 294px;
  position: absolute;
  bottom: 3px;
  left: 216px;
}
.male:hover {
  background: url("/assets/male-female-hover.png") -216px -2px no-repeat;
}
.hidddeeee .container, .hidddeeee .footer { display: none; }
.lead {margin-top:20px; margin-bottom: 40px; text-shadow: 0px 1px 3px rgb(236, 240, 255);line-height:20px}

/* http://twitter.github.com/bootstrap/assets/css/docs.css */
/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 200px;
  margin: 15px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 168px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(/assets/img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}



.pagination {

  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }