/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


.floatleft{
	width:450px;
	text-align:center;
	float:left;
}

.show{
	width:450px;
	float:left;
	margin:0px 0px 0px 25px;
}

.clear{
	clear:both;
}

.center{
	margin:auto;
	background-color:red;
}

.homelogo{
	float:left;
}

.header{
	color:red;
	float:left;
	margin-top:5px;
	margin-left:10px;
}


.footer{
	padding: 10px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
}


.red{
	background-color:red;
	border-style:solid;
}


button.ui-button-icon-only { 
    width: 1em;
    margin-left: 0.5em;
}

.myform{
	position:relative;
	left:670px;
	top:-25px;
}

.steps{
	width:120px;
	margin:5px;
	text-align:center;
	float:left;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#background{
    background: url('soft_bokeh.jpg') no-repeat;
    margin-bottom:30px;
    padding:25px;
    width: auto;
}

.home{ 
 	width:600px; 
 	float:left;
}

.signupbutton{
	float:right;
	margin-right:30px;
}

.loginbar{
	float:right;

}

.subhead {
	padding-bottom: 0;
	margin-bottom: 9px;
}

.subhead h1 {
	font-size: 54px;
}