<div style='margin-top:5px;'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to 'Home', root_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      <%= link_to 'Occasion', occassions_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      Create an Occasion
    </li>
  </ul>
</div>

<div class='well'>
  <legend>
    Create an Occasion
  </legend>

  <%= render 'form' %>
</div>

