<div style='margin-top:5px;'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to 'Home', root_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      <%= link_to 'Occasions', occassions_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      Enter an Occasion
    </li>
  </ul>
</div>

<div class='well'>
  <legend>
    Enter an Occasion
  </legend>

  <%= render 'form' %>
</div>

