<p>Welcome <%= @resource.email %>!</p>

<p>Your Giftminer account is almost ready. Please follow the link below to confirm your email address:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Thank You,</p>

<p>Giftminer Team</p>